{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-12-01",
        "endpointPrefix": "codeaws",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "codeaws",
        "serviceId": "codeaws",
        "signatureVersion": "v4",
        "signingName": "codeaws",
        "targetPrefix": "CodeAws",
        "uid": "codeaws-2020-12-01"
    },
    "operations": {
        "AcceptProjectInvitation": {
            "name": "AcceptProjectInvitation",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "AcceptProjectInvitationRequest" },
            "output": { "shape": "AcceptProjectInvitationResponse" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "AddUserToRole": {
            "name": "AddUserToRole",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "AddUserToRoleInput" },
            "output": { "shape": "AddUserToRoleOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "BatchGetIssue": {
            "name": "BatchGetIssue",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "BatchGetIssueInput" },
            "output": { "shape": "BatchGetIssueOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "CreateAccessToken": {
            "name": "CreateAccessToken",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "CreateAccessTokenRequest" },
            "output": { "shape": "CreateAccessTokenResponse" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ],
            "documentation": "<p>Create a new access token for the current user</p>"
        },
        "CreateArtifactRepository": {
            "name": "CreateArtifactRepository",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "CreateArtifactRepositoryInput" },
            "output": { "shape": "CreateArtifactRepositoryOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ConflictException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ],
            "idempotent": true
        },
        "CreateCommentForIssue": {
            "name": "CreateCommentForIssue",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "CreateCommentForIssueInput" },
            "output": { "shape": "CreateCommentForIssueOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ],
            "documentation": "<p>Creates a comment on a issue.</p>"
        },
        "CreateComputeFleet": {
            "name": "CreateComputeFleet",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "CreateComputeFleetInput" },
            "output": { "shape": "CreateComputeFleetOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ConflictException" },
                { "shape": "ValidationException" },
                { "shape": "ServiceQuotaExceededException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ],
            "idempotent": true
        },
        "CreateDevelopmentWorkspace": {
            "name": "CreateDevelopmentWorkspace",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "CreateDevelopmentWorkspaceInput" },
            "output": { "shape": "CreateDevelopmentWorkspaceOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ],
            "idempotent": true
        },
        "CreateEnvironment": {
            "name": "CreateEnvironment",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "CreateEnvironmentInput" },
            "output": { "shape": "CreateEnvironmentOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ],
            "idempotent": true
        },
        "CreateEnvironmentStack": {
            "name": "CreateEnvironmentStack",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "CreateEnvironmentStackInput" },
            "output": { "shape": "CreateEnvironmentStackOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ],
            "idempotent": true
        },
        "CreateExternalArtifactRepository": {
            "name": "CreateExternalArtifactRepository",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "CreateExternalArtifactRepositoryInput" },
            "output": { "shape": "CreateArtifactRepositoryOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ConflictException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ],
            "idempotent": true
        },
        "CreateNotificationChannel": {
            "name": "CreateNotificationChannel",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "CreateNotificationChannelInput" },
            "output": { "shape": "CreateNotificationChannelOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ],
            "idempotent": true
        },
        "CreateNotificationClient": {
            "name": "CreateNotificationClient",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "CreateNotificationClientInput" },
            "output": { "shape": "CreateNotificationClientOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ],
            "idempotent": true
        },
        "CreateOnboarding": {
            "name": "CreateOnboarding",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "CreateOnboardingInput" },
            "output": { "shape": "OnboardingOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "CreateOrganization": {
            "name": "CreateOrganization",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "CreateOrganizationInput" },
            "output": { "shape": "CreateOrganizationOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ServiceQuotaExceededException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ],
            "idempotent": true
        },
        "CreateProject": {
            "name": "CreateProject",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "CreateProjectInput" },
            "output": { "shape": "CreateProjectOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ConflictException" },
                { "shape": "ValidationException" },
                { "shape": "ServiceQuotaExceededException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ],
            "idempotent": true
        },
        "CreateProjectNotificationSettings": {
            "name": "CreateProjectNotificationSettings",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "CreateProjectNotificationSettingsInput" },
            "output": { "shape": "CreateProjectNotificationSettingsOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ],
            "idempotent": true
        },
        "CreatePullRequestComment": {
            "name": "CreatePullRequestComment",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "CreatePullRequestCommentInput" },
            "output": { "shape": "CreatePullRequestCommentOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ],
            "documentation": "<p>Creates a comment on a pull request.</p>"
        },
        "CreateSession": {
            "name": "CreateSession",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "CreateSessionRequest" },
            "output": { "shape": "CreateSessionResponse" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" }
            ]
        },
        "CreateSourcePullRequest": {
            "name": "CreateSourcePullRequest",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "CreateSourcePullRequestInput" },
            "output": { "shape": "CreateSourcePullRequestOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ConflictException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "CreateSourceRepository": {
            "name": "CreateSourceRepository",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "CreateSourceRepositoryInput" },
            "output": { "shape": "CreateSourceRepositoryOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ConflictException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ],
            "idempotent": true
        },
        "CreateTemplateUploadUrl": {
            "name": "CreateTemplateUploadUrl",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "CreateTemplateUploadUrlInput" },
            "output": { "shape": "CreateTemplateUploadUrlOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "DeleteArtifactPackageVersions": {
            "name": "DeleteArtifactPackageVersions",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "DeleteArtifactPackageVersionsInput" },
            "output": { "shape": "ArtifactPackageVersionsBatchActionOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ],
            "idempotent": true
        },
        "DeleteArtifactRepository": {
            "name": "DeleteArtifactRepository",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "DeleteArtifactRepositoryInput" },
            "output": { "shape": "DeleteArtifactRepositoryOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ],
            "idempotent": true
        },
        "DeleteCommentContentForIssue": {
            "name": "DeleteCommentContentForIssue",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "DeleteCommentContentForIssueInput" },
            "output": { "shape": "DeleteCommentContentForIssueOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ],
            "documentation": "<p>Deletes the comment content of an issue comment.</p>",
            "idempotent": true
        },
        "DeleteComputeFleet": {
            "name": "DeleteComputeFleet",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "DeleteComputeFleetInput" },
            "output": { "shape": "DeleteComputeFleetOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ],
            "idempotent": true
        },
        "DeleteEnvironment": {
            "name": "DeleteEnvironment",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "DeleteEnvironmentInput" },
            "output": { "shape": "DeleteEnvironmentOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ],
            "idempotent": true
        },
        "DeleteEnvironmentStack": {
            "name": "DeleteEnvironmentStack",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "DeleteEnvironmentStackInput" },
            "output": { "shape": "DeleteEnvironmentStackOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ],
            "idempotent": true
        },
        "DeleteNotificationChannel": {
            "name": "DeleteNotificationChannel",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "DeleteNotificationChannelInput" },
            "output": { "shape": "DeleteNotificationChannelOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ],
            "idempotent": true
        },
        "DeleteOrganization": {
            "name": "DeleteOrganization",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "DeleteOrganizationInput" },
            "output": { "shape": "DeleteOrganizationOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ],
            "idempotent": true
        },
        "DeleteProject": {
            "name": "DeleteProject",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "DeleteProjectInput" },
            "output": { "shape": "DeleteProjectOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ],
            "idempotent": true
        },
        "DeletePullRequestCommentContent": {
            "name": "DeletePullRequestCommentContent",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "DeletePullRequestCommentContentInput" },
            "output": { "shape": "DeletePullRequestCommentContentOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ],
            "documentation": "<p>Deletes content of a comment on a pull request.</p>",
            "idempotent": true
        },
        "DeleteSourceBranch": {
            "name": "DeleteSourceBranch",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "DeleteSourceBranchInput" },
            "output": { "shape": "DeleteSourceBranchOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ],
            "idempotent": true
        },
        "DeleteSourceRepository": {
            "name": "DeleteSourceRepository",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "DeleteSourceRepositoryInput" },
            "output": { "shape": "DeleteSourceRepositoryOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ],
            "idempotent": true
        },
        "DeployTemplate": {
            "name": "DeployTemplate",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "DeployTemplateInput" },
            "output": { "shape": "DeployTemplateOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "DescribeAccess": {
            "name": "DescribeAccess",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "output": { "shape": "DescribeAccessResponse" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "DescribeOrganizationMembers": {
            "name": "DescribeOrganizationMembers",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "DescribeOrganizationMembersInput" },
            "output": { "shape": "DescribeOrganizationMembersOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "DescribeProjectMembers": {
            "name": "DescribeProjectMembers",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "DescribeProjectMembersInput" },
            "output": { "shape": "DescribeProjectMembersOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "DescribeSourceRepositoryEndpoints": {
            "name": "DescribeSourceRepositoryEndpoints",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "DescribeSourceRepositoryEndpointsInput" },
            "output": { "shape": "DescribeSourceRepositoryEndpointsOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "DisposeArtifactPackageVersions": {
            "name": "DisposeArtifactPackageVersions",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "DisposeArtifactPackageVersionsInput" },
            "output": { "shape": "ArtifactPackageVersionsBatchActionOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "GetActionRunArtifactMetadata": {
            "name": "GetActionRunArtifactMetadata",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "GetActionRunArtifactMetadataInput" },
            "output": { "shape": "GetActionRunArtifactMetadataOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "GetArtifactPackageVersion": {
            "name": "GetArtifactPackageVersion",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "GetArtifactPackageVersionInput" },
            "output": { "shape": "GetArtifactPackageVersionOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "GetArtifactPackageVersionReadme": {
            "name": "GetArtifactPackageVersionReadme",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "GetArtifactPackageVersionReadmeInput" },
            "output": { "shape": "GetArtifactPackageVersionReadmeOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "GetArtifactRepository": {
            "name": "GetArtifactRepository",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "GetArtifactRepositoryInput" },
            "output": { "shape": "ArtifactRepositorySummary" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "GetArtifactRepositoryEndpoint": {
            "name": "GetArtifactRepositoryEndpoint",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "GetArtifactRepositoryEndpointInput" },
            "output": { "shape": "GetArtifactRepositoryEndpointOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "GetBuild": {
            "name": "GetBuild",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "GetBuildInput" },
            "output": { "shape": "BuildDetailsOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "GetBuildLogs": {
            "name": "GetBuildLogs",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "GetBuildLogsInput" },
            "output": { "shape": "GetBuildLogsOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "GetCodeCoverageReport": {
            "name": "GetCodeCoverageReport",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "GetCodeCoverageReportInput" },
            "output": { "shape": "GetCodeCoverageReportOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ServiceQuotaExceededException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "GetCodeCoverageRunResults": {
            "name": "GetCodeCoverageRunResults",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "GetCodeCoverageRunResultsInput" },
            "output": { "shape": "CodeCoverageRunResultsOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ServiceQuotaExceededException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "GetComputeFleet": {
            "name": "GetComputeFleet",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "GetComputeFleetInput" },
            "output": { "shape": "ComputeFleetSummary" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "GetConnection": {
            "name": "GetConnection",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "GetConnectionInput" },
            "output": { "shape": "GetConnectionOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "GetDeployment": {
            "name": "GetDeployment",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "GetDeploymentInput" },
            "output": { "shape": "GetDeploymentOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "GetDeploymentTarget": {
            "name": "GetDeploymentTarget",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "GetDeploymentTargetInput" },
            "output": { "shape": "GetDeploymentTargetOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "GetDevelopmentWorkspace": {
            "name": "GetDevelopmentWorkspace",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "GetDevelopmentWorkspaceInput" },
            "output": { "shape": "GetDevelopmentWorkspaceOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "GetEnvironment": {
            "name": "GetEnvironment",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "GetEnvironmentInput" },
            "output": { "shape": "GetEnvironmentOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "GetEnvironmentStack": {
            "name": "GetEnvironmentStack",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "GetEnvironmentStackInput" },
            "output": { "shape": "GetEnvironmentStackOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "GetIssue": {
            "name": "GetIssue",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "GetIssueInput" },
            "output": { "shape": "GetIssueOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "GetIssueStore": {
            "name": "GetIssueStore",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "GetIssueStoreInput" },
            "output": { "shape": "GetIssueStoreOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "GetNotificationChannel": {
            "name": "GetNotificationChannel",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "GetNotificationChannelInput" },
            "output": { "shape": "GetNotificationChannelOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "GetNotificationClient": {
            "name": "GetNotificationClient",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "GetNotificationClientInput" },
            "output": { "shape": "GetNotificationClientOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "GetOnboarding": {
            "name": "GetOnboarding",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "GetOnboardingInput" },
            "output": { "shape": "OnboardingOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "GetOrganization": {
            "name": "GetOrganization",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "GetOrganizationInput" },
            "output": { "shape": "GetOrganizationOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "GetOrganizationRoleMapping": {
            "name": "GetOrganizationRoleMapping",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "GetOrganizationRoleMappingInput" },
            "output": { "shape": "RoleMappingObject" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "GetPerson": {
            "name": "GetPerson",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "GetPersonRequest" },
            "output": { "shape": "GetPersonResponse" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "GetPersonByUserName": {
            "name": "GetPersonByUserName",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "GetPersonByUserNameRequest" },
            "output": { "shape": "GetPersonResponse" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "GetProject": {
            "name": "GetProject",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "GetProjectInput" },
            "output": { "shape": "GetProjectOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "GetProjectInvitationById": {
            "name": "GetProjectInvitationById",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "GetProjectInvitationByIdRequest" },
            "output": { "shape": "GetProjectInvitationByIdResponse" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "GetProjectMetrics": {
            "name": "GetProjectMetrics",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "GetProjectMetricsInput" },
            "output": { "shape": "GetProjectMetricsOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "GetProjectNotificationSettings": {
            "name": "GetProjectNotificationSettings",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "GetProjectNotificationSettingsInput" },
            "output": { "shape": "GetProjectNotificationSettingsOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "GetProjectRoleMapping": {
            "name": "GetProjectRoleMapping",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "GetProjectRoleMappingInput" },
            "output": { "shape": "RoleMappingObject" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "GetProjectStatus": {
            "name": "GetProjectStatus",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "GetProjectStatusInput" },
            "output": { "shape": "GetProjectStatusOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "GetPullRequestRequirementStatus": {
            "name": "GetPullRequestRequirementStatus",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "GetPullRequestRequirementStatusInput" },
            "output": { "shape": "GetPullRequestRequirementStatusOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "GetRoleMapping": {
            "name": "GetRoleMapping",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "GetRoleMappingInput" },
            "output": { "shape": "RoleMappingObject" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "GetSlackCredentials": {
            "name": "GetSlackCredentials",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "GetSlackCredentialsInput" },
            "output": { "shape": "GetSlackCredentialsOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "GetSourceBranch": {
            "name": "GetSourceBranch",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "GetSourceBranchInput" },
            "output": { "shape": "SourceBranchSummary" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "GetSourceCommit": {
            "name": "GetSourceCommit",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "GetSourceCommitInput" },
            "output": { "shape": "SourceCommitSummary" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "GetSourceFile": {
            "name": "GetSourceFile",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "GetSourceFileInput" },
            "output": { "shape": "SourceFileSummary" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "GetSourceFolder": {
            "name": "GetSourceFolder",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "GetSourceFolderInput" },
            "output": { "shape": "SourceFolderSummary" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "GetSourcePullRequest": {
            "name": "GetSourcePullRequest",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "GetSourcePullRequestInput" },
            "output": { "shape": "SourcePullRequestSummary" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "GetSourceRepository": {
            "name": "GetSourceRepository",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "GetSourceRepositoryInput" },
            "output": { "shape": "SourceRepositorySummary" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "GetTeam": {
            "name": "GetTeam",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "GetTeamInput" },
            "output": { "shape": "TeamObject" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "GetTemplate": {
            "name": "GetTemplate",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "GetTemplateInput" },
            "output": { "shape": "GetTemplateOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "GetTestAction": {
            "name": "GetTestAction",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "GetTestActionInput" },
            "output": { "shape": "TestActionOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "GetTestCaseRunResults": {
            "name": "GetTestCaseRunResults",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "GetTestCaseRunResultsInput" },
            "output": { "shape": "TestCaseRunResultsOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ServiceQuotaExceededException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "GetTestReport": {
            "name": "GetTestReport",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "GetTestReportInput" },
            "output": { "shape": "GetTestReportOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ServiceQuotaExceededException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "GetTestReportStatus": {
            "name": "GetTestReportStatus",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "GetTestReportStatusInput" },
            "output": { "shape": "GetTestReportStatusOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ServiceQuotaExceededException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "GetWorkflow": {
            "name": "GetWorkflow",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "GetWorkflowInput" },
            "output": { "shape": "WorkflowSummary" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "GetWorkflowRun": {
            "name": "GetWorkflowRun",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "GetWorkflowRunInput" },
            "output": { "shape": "GetWorkflowRunOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "GetWorkflowState": {
            "name": "GetWorkflowState",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "GetWorkflowStateInput" },
            "output": { "shape": "GetWorkflowStateOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "ListActiveProjectInvitations": {
            "name": "ListActiveProjectInvitations",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "ListActiveProjectInvitationsRequest" },
            "output": { "shape": "ListActiveProjectInvitationsResponse" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "ListArtifactPackageVersionAssets": {
            "name": "ListArtifactPackageVersionAssets",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "ListArtifactPackageVersionAssetsInput" },
            "output": { "shape": "ListArtifactPackageVersionAssetsOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "ListArtifactPackageVersionDependencies": {
            "name": "ListArtifactPackageVersionDependencies",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "ListArtifactPackageVersionDependenciesInput" },
            "output": { "shape": "ListArtifactPackageVersionDependenciesOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "ListArtifactPackageVersions": {
            "name": "ListArtifactPackageVersions",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "ListArtifactPackageVersionsInput" },
            "output": { "shape": "ListArtifactPackageVersionsOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "ListArtifactPackages": {
            "name": "ListArtifactPackages",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "ListArtifactPackagesInput" },
            "output": { "shape": "ListArtifactPackagesOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "ListArtifactRepositories": {
            "name": "ListArtifactRepositories",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "ListArtifactRepositoriesInput" },
            "output": { "shape": "ListArtifactRepositoriesOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "ListBuilds": {
            "name": "ListBuilds",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "ListBuildsInput" },
            "output": { "shape": "ListBuildsOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "ListCloudFormationStacks": {
            "name": "ListCloudFormationStacks",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "ListCloudFormationStacksInput" },
            "output": { "shape": "ListCloudFormationStacksOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "ListCodeCoverageReports": {
            "name": "ListCodeCoverageReports",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "ListCodeCoverageReportsInput" },
            "output": { "shape": "ListCodeCoverageReportsOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ServiceQuotaExceededException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "ListCodeCoverageRunResults": {
            "name": "ListCodeCoverageRunResults",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "ListCodeCoverageRunResultsInput" },
            "output": { "shape": "ListCodeCoverageRunResultsOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ServiceQuotaExceededException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "ListCodeCoverageRunResultsStatistics": {
            "name": "ListCodeCoverageRunResultsStatistics",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "ListCodeCoverageRunResultsInput" },
            "output": { "shape": "ListCodeCoverageRunResultsStatisticsOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ServiceQuotaExceededException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "ListCommentsForIssue": {
            "name": "ListCommentsForIssue",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "ListCommentsForIssueInput" },
            "output": { "shape": "ListCommentsForIssueOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ],
            "documentation": "<p>List comments on a issue.</p>"
        },
        "ListComputeFleets": {
            "name": "ListComputeFleets",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "ListComputeFleetsInput" },
            "output": { "shape": "ListComputeFleetsOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "ListConnections": {
            "name": "ListConnections",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "ListConnectionsInput" },
            "output": { "shape": "ListConnectionsOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "ListEmailStatisticsByResourceType": {
            "name": "ListEmailStatisticsByResourceType",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "ListEmailStatisticsByResourceTypeInput" },
            "output": { "shape": "ListEmailStatisticsOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "ListEmailStatisticsByUserIdResourceId": {
            "name": "ListEmailStatisticsByUserIdResourceId",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "ListEmailStatisticsByUserIdResourceIdInput" },
            "output": { "shape": "ListEmailStatisticsOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "ListEnvironmentDeployments": {
            "name": "ListEnvironmentDeployments",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "ListEnvironmentDeploymentsInput" },
            "output": { "shape": "ListEnvironmentDeploymentsOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "ListEnvironmentStacks": {
            "name": "ListEnvironmentStacks",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "ListEnvironmentStacksInput" },
            "output": { "shape": "ListEnvironmentStacksOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "ListEnvironments": {
            "name": "ListEnvironments",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "ListEnvironmentsInput" },
            "output": { "shape": "ListEnvironmentsOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "ListIssues": {
            "name": "ListIssues",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "ListIssuesInput" },
            "output": { "shape": "ListIssuesOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "ListNotificationChannels": {
            "name": "ListNotificationChannels",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "ListNotificationChannelsInput" },
            "output": { "shape": "ListNotificationChannelsOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "ListNotificationClients": {
            "name": "ListNotificationClients",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "ListNotificationClientsInput" },
            "output": { "shape": "ListNotificationClientsOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "ListOnboarding": {
            "name": "ListOnboarding",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "ListOnboardingInput" },
            "output": { "shape": "ListOnboardingOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "ListOrganizations": {
            "name": "ListOrganizations",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "ListOrganizationsInput" },
            "output": { "shape": "ListOrganizationsOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "ListProjects": {
            "name": "ListProjects",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "ListProjectsInput" },
            "output": { "shape": "ListProjectsOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "ListPullRequestComments": {
            "name": "ListPullRequestComments",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "ListPullRequestCommentsInput" },
            "output": { "shape": "ListPullRequestCommentsOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ],
            "documentation": "<p>List comments on a pull request.</p>"
        },
        "ListRoleMappings": {
            "name": "ListRoleMappings",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "ListRoleMappingInput" },
            "output": { "shape": "ListRoleMappingOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "ListSourceBranches": {
            "name": "ListSourceBranches",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "ListSourceBranchesInput" },
            "output": { "shape": "ListSourceBranchesOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "ListSourceDifferenceMetadata": {
            "name": "ListSourceDifferenceMetadata",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "ListSourceDifferenceMetadataInput" },
            "output": { "shape": "ListSourceDifferenceMetadataOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "ListSourcePullRequests": {
            "name": "ListSourcePullRequests",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "ListSourcePullRequestsInput" },
            "output": { "shape": "ListSourcePullRequestsOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "ListSourceRepositories": {
            "name": "ListSourceRepositories",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "ListSourceRepositoriesInput" },
            "output": { "shape": "ListSourceRepositoriesOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "ListSourceRevisions": {
            "name": "ListSourceRevisions",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "ListSourceRevisionsInput" },
            "output": { "shape": "ListSourceRevisionsOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "ListTeams": {
            "name": "ListTeams",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "ListTeamInput" },
            "output": { "shape": "ListTeamOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "ListTemplates": {
            "name": "ListTemplates",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "ListTemplatesInput" },
            "output": { "shape": "ListTemplatesOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "ListTestActions": {
            "name": "ListTestActions",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "ListTestActionsInput" },
            "output": { "shape": "ListTestActionsOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "ListTestCaseRunResults": {
            "name": "ListTestCaseRunResults",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "ListTestCaseRunResultsInput" },
            "output": { "shape": "ListTestCaseRunResultsOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ServiceQuotaExceededException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "ListTestCaseRunResultsStatistics": {
            "name": "ListTestCaseRunResultsStatistics",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "ListTestCaseRunResultsInput" },
            "output": { "shape": "ListTestCaseRunResultsStatisticsOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "ListTestReportStatuses": {
            "name": "ListTestReportStatuses",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "ListTestReportStatusesInput" },
            "output": { "shape": "ListTestReportStatusesOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ServiceQuotaExceededException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "ListTestReports": {
            "name": "ListTestReports",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "ListTestReportsInput" },
            "output": { "shape": "ListTestReportsOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ServiceQuotaExceededException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "ListWorkflowRuns": {
            "name": "ListWorkflowRuns",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "ListWorkflowRunsInput" },
            "output": { "shape": "ListWorkflowRunsOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "ListWorkflows": {
            "name": "ListWorkflows",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "ListWorkflowsInput" },
            "output": { "shape": "ListWorkflowsOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "MergeSourcePullRequestByFastForward": {
            "name": "MergeSourcePullRequestByFastForward",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "MergeSourcePullRequestByFastForwardInput" },
            "output": { "shape": "MergeSourcePullRequestByFastForwardOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ConflictException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "PutIssue": {
            "name": "PutIssue",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "PutIssueInput" },
            "output": { "shape": "PutIssueOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ],
            "idempotent": true
        },
        "RemoveUserFromRole": {
            "name": "RemoveUserFromRole",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "RemoveUserFromRoleInput" },
            "output": { "shape": "RemoveUserFromRoleOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "RenameOrganization": {
            "name": "RenameOrganization",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "RenameOrganizationInput" },
            "output": { "shape": "RenameOrganizationOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ],
            "idempotent": true
        },
        "RenameProject": {
            "name": "RenameProject",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "RenameProjectInput" },
            "output": { "shape": "RenameProjectOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ],
            "idempotent": true
        },
        "RetryTestActionTestCases": {
            "name": "RetryTestActionTestCases",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "RetryTestActionTestCasesInput" },
            "output": { "shape": "RetryTestActionTestCasesOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "RevokeSession": {
            "name": "RevokeSession",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "RevokeSessionRequest" },
            "output": { "shape": "RevokeSessionResponse" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" }
            ]
        },
        "Search": {
            "name": "Search",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "SearchRequest" },
            "output": { "shape": "SearchResponse" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "SearchActionLogs": {
            "name": "SearchActionLogs",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "SearchActionLogsInput" },
            "output": { "shape": "SearchActionLogsOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "SendProjectInvitation": {
            "name": "SendProjectInvitation",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "SendProjectInvitationRequest" },
            "output": { "shape": "SendProjectInvitationResponse" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "StartDevelopmentWorkspace": {
            "name": "StartDevelopmentWorkspace",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "StartDevelopmentWorkspaceInput" },
            "output": { "shape": "StartDevelopmentWorkspaceOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "StartSessionDevelopmentWorkspace": {
            "name": "StartSessionDevelopmentWorkspace",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "StartSessionDevelopmentWorkspaceInput" },
            "output": { "shape": "StartSessionDevelopmentWorkspaceOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "StartWorkflowRun": {
            "name": "StartWorkflowRun",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "StartWorkflowRunInput" },
            "output": { "shape": "StartWorkflowRunOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "SynthFromTemplate": {
            "name": "SynthFromTemplate",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "SynthFromTemplateInput" },
            "output": { "shape": "SynthFromTemplateOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "UpdateArtifactPackageVersionsStatus": {
            "name": "UpdateArtifactPackageVersionsStatus",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "UpdateArtifactPackageVersionsStatusInput" },
            "output": { "shape": "ArtifactPackageVersionsBatchActionOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "UpdateArtifactRepository": {
            "name": "UpdateArtifactRepository",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "UpdateArtifactRepositoryInput" },
            "output": { "shape": "UpdateArtifactRepositoryOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "UpdateCommentContentForIssue": {
            "name": "UpdateCommentContentForIssue",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "UpdateCommentContentForIssueInput" },
            "output": { "shape": "UpdateCommentContentForIssueOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ],
            "documentation": "<p>Updates content of a comment on a issue.</p>"
        },
        "UpdateComputeFleet": {
            "name": "UpdateComputeFleet",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "UpdateComputeFleetInput" },
            "output": { "shape": "UpdateComputeFleetOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ],
            "idempotent": true
        },
        "UpdateEnvironment": {
            "name": "UpdateEnvironment",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "UpdateEnvironmentInput" },
            "output": { "shape": "UpdateEnvironmentOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ],
            "idempotent": true
        },
        "UpdateEnvironmentStack": {
            "name": "UpdateEnvironmentStack",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "UpdateEnvironmentStackInput" },
            "output": { "shape": "UpdateEnvironmentStackOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ],
            "idempotent": true
        },
        "UpdateIssueStore": {
            "name": "UpdateIssueStore",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "UpdateIssueStoreInput" },
            "output": { "shape": "UpdateIssueStoreOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ],
            "idempotent": true
        },
        "UpdateOnboarding": {
            "name": "UpdateOnboarding",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "UpdateOnboardingInput" },
            "output": { "shape": "OnboardingOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ]
        },
        "UpdateOrganization": {
            "name": "UpdateOrganization",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "UpdateOrganizationInput" },
            "output": { "shape": "UpdateOrganizationOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ValidationException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "AccessDeniedException" },
                { "shape": "SessionNotValidException" }
            ],
            "idempotent": true
        },
        "UpdatePerson": {
            "name": "UpdatePerson",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": { "shape": "UpdatePersonInput" },
            "output": { "shape": "UpdatePersonOutput" },
            "errors": [
                { "shape": "ThrottlingException" },
                { "shape": "ConflictException" },
[...]
