{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-04-05",
        "endpointPrefix": "mde",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon MDE",
        "serviceId": "MDE",
        "signatureVersion": "v4",
        "signingName": "mde",
        "uid": "mde-2021-04-05",
        "useModeledEndpointPrefix": true
    },
    "operations": {
        "CreateEnvironment": {
            "name": "CreateEnvironment",
            "http": {
                "method": "POST",
                "requestUri": "/environments",
                "responseCode": 200
            },
            "input": { "shape": "CreateEnvironmentRequest" },
            "output": { "shape": "CreateEnvironmentResponse" },
            "errors": [
                { "shape": "ServiceQuotaExceededException" },
                { "shape": "InternalServerErrorException" },
                { "shape": "ValidationException" },
                { "shape": "AccessDeniedException" },
                { "shape": "InternalServiceException" },
                { "shape": "ConflictException" },
                { "shape": "ThrottlingException" },
                { "shape": "InternalServerException" }
            ],
            "idempotent": true
        },
        "DeleteEnvironment": {
            "name": "DeleteEnvironment",
            "http": {
                "method": "DELETE",
                "requestUri": "/environments/{environmentId}",
                "responseCode": 200
            },
            "input": { "shape": "DeleteEnvironmentRequest" },
            "output": { "shape": "DeleteEnvironmentResponse" },
            "errors": [
                { "shape": "InternalServerErrorException" },
                { "shape": "ValidationException" },
                { "shape": "AccessDeniedException" },
                { "shape": "InternalServiceException" },
                { "shape": "ConflictException" },
                { "shape": "InternalServerException" }
            ],
            "idempotent": true
        },
        "GetEnvironmentMetadata": {
            "name": "GetEnvironmentMetadata",
            "http": {
                "method": "GET",
                "requestUri": "/environments/{environmentId}",
                "responseCode": 200
            },
            "input": { "shape": "GetEnvironmentMetadataRequest" },
            "output": { "shape": "GetEnvironmentMetadataResponse" },
            "errors": [
                { "shape": "InternalServerErrorException" },
                { "shape": "ValidationException" },
                { "shape": "AccessDeniedException" },
                { "shape": "InternalServiceException" },
                { "shape": "InternalServerException" }
            ]
        },
        "ListEnvironments": {
            "name": "ListEnvironments",
            "http": {
                "method": "GET",
                "requestUri": "/environments",
                "responseCode": 200
            },
            "input": { "shape": "ListEnvironmentsRequest" },
            "output": { "shape": "ListEnvironmentsResponse" },
            "errors": [
                { "shape": "InternalServerErrorException" },
                { "shape": "ValidationException" },
                { "shape": "AccessDeniedException" },
                { "shape": "InternalServiceException" },
                { "shape": "InternalServerException" }
            ]
        },
        "ListSessions": {
            "name": "ListSessions",
            "http": {
                "method": "GET",
                "requestUri": "/environments/{environmentId}/sessions",
                "responseCode": 200
            },
            "input": { "shape": "ListSessionsRequest" },
            "output": { "shape": "ListSessionsResponse" },
            "errors": [
                { "shape": "InternalServerErrorException" },
                { "shape": "ValidationException" },
                { "shape": "AccessDeniedException" },
                { "shape": "InternalServiceException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "ThrottlingException" },
                { "shape": "InternalServerException" }
            ]
        },
        "ListTagsForResource": {
            "name": "ListTagsForResource",
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": { "shape": "ListTagsForResourceRequest" },
            "output": { "shape": "ListTagsForResourceResponse" },
            "errors": [
                { "shape": "ValidationException" },
                { "shape": "InternalServiceException" },
                { "shape": "ResourceNotFoundException" }
            ]
        },
        "StartEnvironment": {
            "name": "StartEnvironment",
            "http": {
                "method": "POST",
                "requestUri": "/environments/{environmentId}/start",
                "responseCode": 200
            },
            "input": { "shape": "StartEnvironmentRequest" },
            "output": { "shape": "StartEnvironmentResponse" },
            "errors": [
                { "shape": "InternalServerErrorException" },
                { "shape": "ValidationException" },
                { "shape": "AccessDeniedException" },
                { "shape": "InternalServiceException" },
                { "shape": "ConflictException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "InternalServerException" }
            ],
            "idempotent": true
        },
        "StartSession": {
            "name": "StartSession",
            "http": {
                "method": "POST",
                "requestUri": "/environments/{environmentId}/sessions",
                "responseCode": 200
            },
            "input": { "shape": "StartSessionRequest" },
            "output": { "shape": "StartSessionResponse" },
            "errors": [
                { "shape": "ServiceQuotaExceededException" },
                { "shape": "InternalServerErrorException" },
                { "shape": "ValidationException" },
                { "shape": "AccessDeniedException" },
                { "shape": "InternalServiceException" },
                { "shape": "ConflictException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "ThrottlingException" },
                { "shape": "InternalServerException" }
            ]
        },
        "StopEnvironment": {
            "name": "StopEnvironment",
            "http": {
                "method": "POST",
                "requestUri": "/environments/{environmentId}/stop",
                "responseCode": 200
            },
            "input": { "shape": "StopEnvironmentRequest" },
            "output": { "shape": "StopEnvironmentResponse" },
            "errors": [
                { "shape": "InternalServerErrorException" },
                { "shape": "ValidationException" },
                { "shape": "AccessDeniedException" },
                { "shape": "InternalServiceException" },
                { "shape": "ConflictException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "InternalServerException" }
            ],
            "idempotent": true
        },
        "StopSession": {
            "name": "StopSession",
            "http": {
                "method": "DELETE",
                "requestUri": "/environments/{environmentId}/sessions/{sessionId}",
                "responseCode": 200
            },
            "input": { "shape": "StopSessionRequest" },
            "errors": [
                { "shape": "InternalServerErrorException" },
                { "shape": "ValidationException" },
                { "shape": "AccessDeniedException" },
                { "shape": "InternalServiceException" },
                { "shape": "ConflictException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "InternalServerException" }
            ],
            "idempotent": true
        },
        "TagResource": {
            "name": "TagResource",
            "http": {
                "method": "POST",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": { "shape": "TagResourceRequest" },
            "output": { "shape": "TagResourceResponse" },
            "errors": [
                { "shape": "ValidationException" },
                { "shape": "InternalServiceException" },
                { "shape": "ResourceNotFoundException" }
            ]
        },
        "UntagResource": {
            "name": "UntagResource",
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": { "shape": "UntagResourceRequest" },
            "output": { "shape": "UntagResourceResponse" },
            "errors": [
                { "shape": "ValidationException" },
                { "shape": "InternalServiceException" },
                { "shape": "ResourceNotFoundException" }
            ],
            "idempotent": true
        },
        "UpdateEnvironment": {
            "name": "UpdateEnvironment",
            "http": {
                "method": "POST",
                "requestUri": "/environments/{environmentId}/update",
                "responseCode": 200
            },
            "input": { "shape": "UpdateEnvironmentRequest" },
            "output": { "shape": "UpdateEnvironmentResponse" },
            "errors": [
                { "shape": "InternalServerErrorException" },
                { "shape": "ValidationException" },
                { "shape": "AccessDeniedException" },
                { "shape": "InternalServiceException" },
                { "shape": "ConflictException" },
                { "shape": "ResourceNotFoundException" },
                { "shape": "InternalServerException" }
            ],
            "idempotent": true
        }
    },
    "shapes": {
        "AccessDeniedException": {
            "type": "structure",
            "required": ["message"],
            "members": {
                "message": { "shape": "String" }
            },
            "error": {
                "httpStatusCode": 403,
                "senderFault": true
            },
            "exception": true
        },
        "AccessDetails": {
            "type": "structure",
            "members": {
                "streamUrl": { "shape": "StreamUrl" },
                "tokenValue": { "shape": "TokenValue" }
            },
            "sensitive": true
        },
        "Arn": {
            "type": "string",
            "max": 1224,
            "min": 0,
            "pattern": "^arn:[a-z0-9][-.a-z0-9]{0,62}:[a-z0-9][-.a-z0-9]{0,62}:([a-z0-9][-.a-z0-9]{0,62})?:([a-z0-9][-.a-z0-9]{0,62})?:[^/].{0,1023}$"
        },
        "Boolean": {
            "type": "boolean",
            "box": true
        },
        "ClientToken": {
            "type": "string",
            "max": 36,
            "min": 0,
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-4[a-fA-F0-9]{3}-[8|9|aA|bB][a-fA-F0-9]{3}-[a-fA-F0-9]{12}$"
        },
        "Command": {
            "type": "list",
            "member": { "shape": "CommandMemberString" },
            "max": 11,
            "min": 1
        },
        "CommandMemberString": {
            "type": "string",
            "max": 255,
            "min": 1
        },
        "ConflictException": {
            "type": "structure",
            "required": ["message", "resourceId", "resourceType"],
            "members": {
                "message": { "shape": "String" },
                "resourceId": { "shape": "String" },
                "resourceType": { "shape": "String" }
            },
            "error": {
                "httpStatusCode": 409,
                "senderFault": true
            },
            "exception": true
        },
        "CreateEnvironmentRequest": {
            "type": "structure",
            "required": ["instanceType", "persistentStorage"],
            "members": {
                "bootstrapRoleArn": { "shape": "IamRoleArn" },
                "clientToken": {
                    "shape": "ClientToken",
                    "idempotencyToken": true
                },
                "definition": {
                    "shape": "Definition",
                    "deprecated": true,
                    "deprecatedMessage": "Devfile will replace Definition, SourceCode become top-level"
                },
                "devfile": { "shape": "DevfileConfiguration" },
                "envVariables": { "shape": "EnvironmentVariableList" },
                "environmentInsights": { "shape": "EnvironmentInsights" },
                "ides": { "shape": "IdeConfigurationList" },
                "inactivityTimeoutMinutes": { "shape": "InactivityTimeoutMinutes" },
                "instanceType": { "shape": "InstanceType" },
                "persistentStorage": { "shape": "PersistentStorageConfiguration" },
                "roleArn": { "shape": "IamRoleArn" },
                "sourceCode": { "shape": "SourceCodeConfigurationList" },
                "start": { "shape": "Boolean" },
                "tags": { "shape": "TagMap" },
                "vpcConfig": { "shape": "VpcConfig" }
            }
        },
        "CreateEnvironmentResponse": {
            "type": "structure",
            "required": ["arn", "id", "status"],
            "members": {
                "arn": { "shape": "Arn" },
                "id": { "shape": "EnvironmentId" },
                "status": { "shape": "EnvironmentStatus" }
            }
        },
        "Definition": {
            "type": "structure",
            "members": {
                "shellImage": { "shape": "DefinitionShellImageString" }
            },
            "deprecated": true,
            "deprecatedMessage": "Devfile will replace Definition, SourceCode become top-level"
        },
        "DefinitionShellImageString": {
            "type": "string",
            "max": 400,
            "min": 1
        },
        "DeleteEnvironmentRequest": {
            "type": "structure",
            "required": ["environmentId"],
            "members": {
                "clientToken": {
                    "shape": "ClientToken",
                    "idempotencyToken": true,
                    "location": "header",
                    "locationName": "X-Amzn-ClientToken"
                },
                "environmentId": {
                    "shape": "EnvironmentId",
                    "location": "uri",
                    "locationName": "environmentId"
                }
            }
        },
        "DeleteEnvironmentResponse": {
            "type": "structure",
            "required": ["arn", "id", "status"],
            "members": {
                "arn": { "shape": "Arn" },
                "id": { "shape": "EnvironmentId" },
                "status": { "shape": "EnvironmentStatus" }
            }
        },
        "DevfileAction": {
            "type": "structure",
            "required": ["location", "status", "updatedAt"],
            "members": {
                "events": { "shape": "DevfileEvents" },
                "location": { "shape": "String" },
                "message": { "shape": "String" },
                "status": { "shape": "DevfileStatus" },
                "updatedAt": { "shape": "Timestamp" }
            }
        },
        "DevfileConfiguration": {
            "type": "structure",
            "members": {
                "filesystem": { "shape": "FilesystemConfiguration" },
                "inline": { "shape": "InlineConfiguration" },
                "uri": { "shape": "UriConfiguration" }
            },
            "union": true
        },
        "DevfileEvent": {
            "type": "structure",
            "required": ["status", "updatedAt"],
            "members": {
                "message": { "shape": "String" },
                "status": { "shape": "DevfileEventStatus" },
                "updatedAt": { "shape": "Timestamp" }
            }
        },
        "DevfileEventStatus": {
            "type": "string",
            "enum": ["RUNNING", "SUCCESSFUL", "FAILED"]
        },
        "DevfileEvents": {
            "type": "structure",
            "members": {
                "postStart": { "shape": "DevfileEvent" },
                "preStop": { "shape": "DevfileEvent" }
            }
        },
        "DevfileStatus": {
            "type": "string",
            "enum": ["PENDING", "SUCCESSFUL", "FAILED"]
        },
        "EnvironmentActions": {
            "type": "structure",
            "members": {
                "devfile": { "shape": "DevfileAction" },
                "ides": { "shape": "IDEActionList" },
                "sourceCode": { "shape": "SourceCodeActionList" }
            }
        },
        "EnvironmentId": {
            "type": "string",
            "pattern": "^e-[0-9a-z]{8,63}$"
        },
        "EnvironmentInsights": {
            "type": "structure",
            "members": {
                "enableLogs": { "shape": "Boolean" }
            }
        },
        "EnvironmentStatus": {
            "type": "string",
            "enum": ["PENDING", "RUNNING", "STARTING", "STOPPING", "STOPPED", "FAILED", "DELETING", "DELETED"]
        },
        "EnvironmentSummaries": {
            "type": "list",
            "member": { "shape": "EnvironmentSummary" }
        },
        "EnvironmentSummary": {
            "type": "structure",
            "required": ["arn", "id"],
            "members": {
                "arn": { "shape": "Arn" },
                "createdAt": { "shape": "Timestamp" },
                "id": { "shape": "EnvironmentId" },
                "ides": { "shape": "Ides" },
                "lastStartedAt": { "shape": "Timestamp" },
                "status": { "shape": "EnvironmentStatus" },
                "tags": { "shape": "TagMap" },
                "userArn": { "shape": "UserArn" }
            }
        },
        "EnvironmentVariable": {
            "type": "structure",
            "required": ["name", "value"],
            "members": {
                "name": { "shape": "EnvironmentVariableNameString" },
                "value": { "shape": "EnvironmentVariableValue" }
            }
        },
        "EnvironmentVariableList": {
            "type": "list",
            "member": { "shape": "EnvironmentVariable" },
            "max": 10,
            "min": 0
        },
        "EnvironmentVariableNameString": {
            "type": "string",
            "max": 120,
            "min": 1
        },
        "EnvironmentVariableValue": {
            "type": "structure",
            "members": {
                "arn": { "shape": "EnvironmentVariableValueArnString" },
                "string": { "shape": "SyntheticEnvironmentVariableValueString" }
            },
            "union": true
        },
        "EnvironmentVariableValueArnString": {
            "type": "string",
            "max": 1224,
            "min": 0,
            "pattern": "^arn:[a-z0-9][-.a-z0-9]{0,62}:secretsmanager:[a-z0-9][-.a-z0-9]{0,62}:[a-z0-9][-.a-z0-9]{0,62}:secret:.{1,512}$"
        },
        "ExecCommandSessionConfiguration": {
            "type": "structure",
            "required": ["command"],
            "members": {
                "command": { "shape": "Command" }
            }
        },
        "FilesystemConfiguration": {
            "type": "structure",
            "required": ["path"],
            "members": {
                "path": { "shape": "FilesystemConfigurationPathString" }
            }
        },
        "FilesystemConfigurationPathString": {
            "type": "string",
            "max": 512,
            "min": 1
        },
        "GetEnvironmentMetadataRequest": {
            "type": "structure",
            "required": ["environmentId"],
            "members": {
                "environmentId": {
                    "shape": "EnvironmentId",
                    "location": "uri",
                    "locationName": "environmentId"
                }
            }
        },
        "GetEnvironmentMetadataResponse": {
            "type": "structure",
            "required": ["arn", "createdAt", "id", "instanceType", "status"],
            "members": {
                "actions": { "shape": "EnvironmentActions" },
                "arn": { "shape": "Arn" },
                "bootstrapRoleArn": { "shape": "IamRoleArn" },
                "createdAt": { "shape": "Timestamp" },
                "definition": {
                    "shape": "Definition",
                    "deprecated": true,
                    "deprecatedMessage": "Devfile will replace Definition, SourceCode become top-level"
                },
                "envVariables": { "shape": "EnvironmentVariableList" },
                "id": { "shape": "EnvironmentId" },
                "ides": { "shape": "Ides" },
                "inactivityTimeoutMinutes": { "shape": "InactivityTimeoutMinutes" },
                "instanceType": { "shape": "InstanceType" },
                "lastStartedAt": { "shape": "Timestamp" },
                "maxRuntimeReachedAt": { "shape": "Timestamp" },
                "persistentStorage": { "shape": "PersistentStorage" },
                "roleArn": { "shape": "IamRoleArn" },
                "status": { "shape": "EnvironmentStatus" },
                "statusReason": { "shape": "String" },
                "tags": { "shape": "TagMap" },
                "userArn": { "shape": "UserArn" },
                "vpcConfig": { "shape": "VpcConfig" }
            }
        },
        "IDEAction": {
            "type": "structure",
            "required": ["runtime", "status", "updatedAt"],
            "members": {
                "message": { "shape": "String" },
                "runtime": { "shape": "String" },
                "status": { "shape": "IDEStatus" },
                "updatedAt": { "shape": "Timestamp" }
            }
        },
        "IDEActionList": {
            "type": "list",
            "member": { "shape": "IDEAction" },
            "max": 1,
            "min": 0
        },
        "IDEStatus": {
            "type": "string",
            "enum": ["PENDING", "SUCCESSFUL", "FAILED"]
        },
        "IamRoleArn": {
            "type": "string",
            "max": 1224,
            "min": 0,
            "pattern": "^arn:[a-z0-9][-.a-z0-9]{0,62}:[a-z0-9][-.a-z0-9]{0,62}:([a-z0-9][-.a-z0-9]{0,62})?:([a-z0-9][-.a-z0-9]{0,62})?:[^/].{0,1023}$"
        },
        "Ide": {
            "type": "structure",
            "required": ["runtime"],
            "members": {
                "runtime": { "shape": "IdeRuntimeString" }
            }
        },
        "IdeConfiguration": {
            "type": "structure",
            "required": ["runtime"],
            "members": {
                "runtime": { "shape": "IdeConfigurationRuntimeString" }
            }
        },
        "IdeConfigurationList": {
            "type": "list",
            "member": { "shape": "IdeConfiguration" },
            "max": 1,
            "min": 0
        },
        "IdeConfigurationRuntimeString": {
            "type": "string",
            "max": 400,
            "min": 1
        },
        "IdeRuntimeString": {
            "type": "string",
            "max": 400,
            "min": 1
        },
        "Ides": {
            "type": "list",
            "member": { "shape": "Ide" },
            "max": 1,
            "min": 0
        },
        "InactivityTimeoutMinutes": {
            "type": "integer",
            "max": 1200,
            "min": 0
        },
        "InlineConfiguration": {
            "type": "structure",
            "required": ["data"],
            "members": {
                "data": { "shape": "InlineConfigurationDataBlob" }
            }
        },
        "InlineConfigurationDataBlob": {
            "type": "blob",
            "max": 1024,
            "min": 1
        },
        "InstanceType": {
            "type": "string",
            "enum": ["dev.standard1.micro", "dev.standard1.small", "dev.standard1.medium", "dev.standard1.large"]
        },
        "Integer": {
            "type": "integer",
            "box": true
        },
        "InternalServerErrorException": {
            "type": "structure",
            "required": ["message"],
            "members": {
                "message": { "shape": "String" },
                "retryAfterSeconds": {
                    "shape": "Integer",
                    "location": "header",
                    "locationName": "Retry-After"
                }
            },
            "error": { "httpStatusCode": 500 },
            "exception": true,
            "fault": true,
            "retryable": { "throttling": false }
        },
        "InternalServerException": {
            "type": "structure",
            "required": ["message"],
            "members": {
                "message": { "shape": "String" },
                "retryAfterSeconds": {
                    "shape": "Integer",
                    "location": "header",
                    "locationName": "Retry-After"
                }
            },
            "error": { "httpStatusCode": 500 },
            "exception": true,
            "fault": true,
            "retryable": { "throttling": false }
        },
        "InternalServiceException": {
            "type": "structure",
            "required": ["message"],
            "members": {
                "message": { "shape": "String" },
                "retryAfterSeconds": {
                    "shape": "Integer",
                    "location": "header",
                    "locationName": "Retry-After"
                }
            },
            "error": { "httpStatusCode": 500 },
            "exception": true,
            "fault": true,
            "retryable": { "throttling": false }
        },
        "ListEnvironmentsRequest": {
            "type": "structure",
            "members": {
                "maxResults": {
                    "shape": "MaxSize1000",
                    "location": "querystring",
                    "locationName": "maxResults"
                },
                "nextToken": {
                    "shape": "NextToken",
                    "location": "querystring",
                    "locationName": "nextToken"
                }
            }
        },
        "ListEnvironmentsResponse": {
            "type": "structure",
            "members": {
                "environmentSummaries": { "shape": "EnvironmentSummaries" },
                "nextToken": { "shape": "NextToken" }
            }
        },
        "ListSessionsRequest": {
            "type": "structure",
            "required": ["environmentId"],
            "members": {
                "environmentId": {
                    "shape": "EnvironmentId",
                    "location": "uri",
                    "locationName": "environmentId"
                },
                "maxResults": {
                    "shape": "MaxSize200",
                    "location": "querystring",
                    "locationName": "maxResults"
                },
                "nextToken": {
                    "shape": "NextToken",
                    "location": "querystring",
                    "locationName": "nextToken"
                }
            }
        },
        "ListSessionsResponse": {
            "type": "structure",
            "members": {
                "nextToken": { "shape": "NextToken" },
                "sessionSummaries": { "shape": "SessionSummaries" }
            }
        },
        "ListTagsForResourceRequest": {
            "type": "structure",
            "required": ["resourceArn"],
            "members": {
                "resourceArn": {
                    "shape": "String",
                    "location": "uri",
                    "locationName": "resourceArn"
                }
            }
        },
        "ListTagsForResourceResponse": {
            "type": "structure",
            "members": {
                "tags": { "shape": "TagMap" }
            }
        },
        "MaxSize1000": {
            "type": "integer",
            "max": 1000,
            "min": 1
        },
        "MaxSize200": {
            "type": "integer",
            "max": 200,
            "min": 1
        },
        "NextToken": { "type": "string" },
        "PersistentStorage": {
            "type": "structure",
            "required": ["sizeInGiB"],
            "members": {
                "sizeInGiB": { "shape": "PersistentStorageSizeInGiBInteger" }
            }
        },
        "PersistentStorageConfiguration": {
            "type": "structure",
            "required": ["sizeInGiB"],
            "members": {
                "sizeInGiB": { "shape": "PersistentStorageConfigurationSizeInGiBInteger" }
            }
        },
        "PersistentStorageConfigurationSizeInGiBInteger": {
            "type": "integer",
            "box": true,
            "max": 64,
            "min": 0
        },
        "PersistentStorageSizeInGiBInteger": {
            "type": "integer",
            "box": true,
            "max": 64,
            "min": 0
        },
        "ResourceNotFoundException": {
            "type": "structure",
            "required": ["message", "resourceId", "resourceType"],
            "members": {
                "message": { "shape": "String" },
                "resourceId": { "shape": "String" },
                "resourceType": { "shape": "String" }
            },
            "error": {
                "httpStatusCode": 404,
                "senderFault": true
            },
            "exception": true
        },
        "SecretArn": {
            "type": "string",
            "max": 1224,
            "min": 0,
            "pattern": "^arn:[a-z0-9][-.a-z0-9]{0,62}:secretsmanager:[a-z0-9][-.a-z0-9]{0,62}:[a-z0-9][-.a-z0-9]{0,62}:secret:.{1,512}$"
        },
        "SecurityGroupId": {
            "type": "string",
            "max": 255,
            "min": 1,
            "pattern": "^sg-[0-9a-f]{8,40}$"
        },
        "SecurityGroupIds": {
            "type": "list",
            "member": { "shape": "SecurityGroupId" },
            "max": 5,
            "min": 1
        },
        "ServiceQuotaExceededException": {
            "type": "structure",
            "required": ["message", "quotaCode", "resourceId", "resourceType", "serviceCode"],
            "members": {
                "message": { "shape": "String" },
                "quotaCode": { "shape": "String" },
                "resourceId": { "shape": "String" },
                "resourceType": { "shape": "String" },
                "serviceCode": { "shape": "String" }
            },
            "error": {
                "httpStatusCode": 402,
                "senderFault": true
            },
            "exception": true
        },
        "SessionConfiguration": {
            "type": "structure",
            "members": {
                "execCommand": { "shape": "ExecCommandSessionConfiguration" },
                "ssh": { "shape": "SshSessionConfiguration" }
            },
            "union": true
        },
        "SessionId": {
            "type": "string",
            "max": 96,
            "min": 1
        },
        "SessionStatus": {
            "type": "string",
            "enum": ["CONNECTED", "DISCONNECTED"]
        },
        "SessionSummaries": {
            "type": "list",
            "member": { "shape": "SessionSummary" }
        },
        "SessionSummary": {
            "type": "structure",
            "required": ["id"],
            "members": {
                "id": { "shape": "SessionId" },
                "startedAt": { "shape": "Timestamp" },
                "status": { "shape": "SessionStatus" }
            }
        },
        "SourceCodeAction": {
            "type": "structure",
            "required": ["status", "updatedAt", "uri"],
            "members": {
                "message": { "shape": "String" },
                "status": { "shape": "SourceCodeStatus" },
                "updatedAt": { "shape": "Timestamp" },
                "uri": { "shape": "String" }
            }
        },
        "SourceCodeActionList": {
            "type": "list",
            "member": { "shape": "SourceCodeAction" },
            "max": 1,
            "min": 0
        },
        "SourceCodeConfiguration": {
            "type": "structure",
            "required": ["uri"],
            "members": {
                "branch": { "shape": "SourceCodeConfigurationBranchString" },
                "gitSecretArn": { "shape": "SecretArn" },
                "uri": { "shape": "SourceCodeConfigurationUriString" }
            }
        },
        "SourceCodeConfigurationBranchString": {
            "type": "string",
            "max": 256,
            "min": 1
        },
        "SourceCodeConfigurationList": {
            "type": "list",
            "member": { "shape": "SourceCodeConfiguration" },
            "max": 1,
            "min": 0
        },
        "SourceCodeConfigurationUriString": {
            "type": "string",
            "max": 400,
            "min": 1
        },
        "SourceCodeStatus": {
            "type": "string",
            "enum": ["PENDING", "SUCCESSFUL", "FAILED"]
        },
        "SshSessionConfiguration": {
            "type": "structure",
            "members": {}
        },
        "StartEnvironmentRequest": {
            "type": "structure",
            "required": ["environmentId"],
            "members": {
                "clientToken": {
                    "shape": "ClientToken",
                    "idempotencyToken": true
                },
                "definition": { "shape": "Definition" },
                "devfile": { "shape": "DevfileConfiguration" },
                "envVariables": { "shape": "EnvironmentVariableList" },
                "environmentId": {
                    "shape": "EnvironmentId",
                    "location": "uri",
                    "locationName": "environmentId"
                },
                "environmentInsights": { "shape": "EnvironmentInsights" },
                "ides": { "shape": "IdeConfigurationList" },
                "inactivityTimeoutMinutes": { "shape": "InactivityTimeoutMinutes" },
                "instanceType": { "shape": "InstanceType" }
            }
        },
        "StartEnvironmentResponse": {
            "type": "structure",
            "required": ["arn", "id", "status"],
            "members": {
                "arn": { "shape": "Arn" },
                "id": { "shape": "EnvironmentId" },
                "status": { "shape": "EnvironmentStatus" }
            }
        },
        "StartSessionRequest": {
            "type": "structure",
            "required": ["environmentId", "sessionConfiguration"],
            "members": {
                "environmentId": {
                    "shape": "EnvironmentId",
                    "location": "uri",
                    "locationName": "environmentId"
                },
                "sessionConfiguration": { "shape": "SessionConfiguration" }
            }
        },
        "StartSessionResponse": {
            "type": "structure",
            "required": ["accessDetails", "id"],
            "members": {
                "accessDetails": { "shape": "AccessDetails" },
                "id": { "shape": "String" }
            }
        },
        "StopEnvironmentRequest": {
            "type": "structure",
            "required": ["environmentId"],
            "members": {
                "clientToken": {
                    "shape": "ClientToken",
                    "idempotencyToken": true
                },
                "environmentId": {
                    "shape": "EnvironmentId",
                    "location": "uri",
                    "locationName": "environmentId"
                }
            }
        },
        "StopEnvironmentResponse": {
            "type": "structure",
            "required": ["arn", "id", "status"],
            "members": {
                "arn": { "shape": "Arn" },
                "id": { "shape": "EnvironmentId" },
                "status": { "shape": "EnvironmentStatus" }
            }
        },
        "StopSessionRequest": {
            "type": "structure",
            "required": ["environmentId", "sessionId"],
            "members": {
                "clientToken": {
                    "shape": "ClientToken",
                    "idempotencyToken": true,
                    "location": "header",
                    "locationName": "X-Amzn-ClientToken"
                },
                "environmentId": {
                    "shape": "EnvironmentId",
                    "location": "uri",
                    "locationName": "environmentId"
                },
                "sessionId": {
                    "shape": "SessionId",
                    "location": "uri",
                    "locationName": "sessionId"
                }
            }
        },
        "StreamUrl": { "type": "string" },
        "String": { "type": "string" },
        "SubnetId": {
            "type": "string",
            "max": 255,
            "min": 1,
            "pattern": "^subnet-[0-9a-f]{8,40}$"
        },
        "SubnetIds": {
            "type": "list",
            "member": { "shape": "SubnetId" },
            "max": 16,
            "min": 1
        },
        "SyntheticEnvironmentVariableValueString": {
            "type": "string",
            "max": 1024,
            "min": 0,
            "sensitive": true
        },
        "TagKeys": {
            "type": "list",
            "member": { "shape": "String" }
        },
        "TagMap": {
            "type": "map",
            "key": { "shape": "TagMapKeyString" },
            "value": { "shape": "TagMapValueString" },
            "max": 50,
            "min": 0
        },
        "TagMapKeyString": {
            "type": "string",
            "max": 128,
            "min": 0
        },
        "TagMapValueString": {
            "type": "string",
            "max": 256,
            "min": 0
        },
        "TagResourceRequest": {
            "type": "structure",
            "required": ["resourceArn", "tags"],
            "members": {
                "resourceArn": {
                    "shape": "String",
                    "location": "uri",
                    "locationName": "resourceArn"
                },
                "tags": { "shape": "TagMap" }
            }
        },
        "TagResourceResponse": {
            "type": "structure",
            "members": {}
        },
        "ThrottlingException": {
            "type": "structure",
            "required": ["message", "quotaCode", "serviceCode"],
            "members": {
                "message": { "shape": "String" },
                "quotaCode": { "shape": "String" },
                "retryAfterSeconds": {
                    "shape": "Integer",
                    "location": "header",
                    "locationName": "Retry-After"
                },
                "serviceCode": { "shape": "String" }
            },
            "error": {
                "httpStatusCode": 429,
                "senderFault": true
            },
            "exception": true,
            "retryable": { "throttling": false }
        },
        "Timestamp": { "type": "timestamp" },
        "TokenValue": { "type": "string" },
        "UntagResourceRequest": {
            "type": "structure",
            "required": ["resourceArn", "tagKeys"],
            "members": {
                "resourceArn": {
                    "shape": "String",
                    "location": "uri",
                    "locationName": "resourceArn"
                },
                "tagKeys": {
                    "shape": "TagKeys",
                    "location": "querystring",
                    "locationName": "tagKeys"
                }
            }
        },
        "UntagResourceResponse": {
            "type": "structure",
            "members": {}
        },
        "UpdateBehavior": {
            "type": "string",
            "enum": ["restart"]
        },
        "UpdateEnvironmentRequest": {
            "type": "structure",
            "required": ["environmentId", "updateBehavior"],
            "members": {
                "clientToken": {
                    "shape": "ClientToken",
                    "idempotencyToken": true
                },
                "devfile": { "shape": "DevfileConfiguration" },
                "environmentId": {
                    "shape": "EnvironmentId",
                    "location": "uri",
                    "locationName": "environmentId"
                },
                "ides": { "shape": "IdeConfigurationList" },
                "inactivityTimeoutMinutes": { "shape": "InactivityTimeoutMinutes" },
                "instanceType": { "shape": "InstanceType" },
                "updateBehavior": { "shape": "UpdateBehavior" }
            }
        },
        "UpdateEnvironmentResponse": {
            "type": "structure",
            "required": ["arn", "id", "status"],
            "members": {
                "arn": { "shape": "Arn" },
                "id": { "shape": "EnvironmentId" },
                "status": { "shape": "EnvironmentStatus" }
            }
        },
        "UriConfiguration": {
            "type": "structure",
            "required": ["uri"],
            "members": {
                "uri": { "shape": "UriConfigurationUriString" }
            }
        },
        "UriConfigurationUriString": {
            "type": "string",
            "max": 512,
            "min": 1
        },
        "UserArn": { "type": "string" },
        "ValidationException": {
            "type": "structure",
            "required": ["message", "reason"],
            "members": {
                "fieldList": { "shape": "ValidationExceptionFieldList" },
                "message": { "shape": "String" },
                "reason": { "shape": "ValidationExceptionReason" }
            },
            "error": {
                "httpStatusCode": 400,
                "senderFault": true
            },
            "exception": true
        },
        "ValidationExceptionField": {
            "type": "structure",
            "required": ["message", "name"],
            "members": {
                "message": { "shape": "String" },
                "name": { "shape": "String" }
            }
        },
        "ValidationExceptionFieldList": {
            "type": "list",
            "member": { "shape": "ValidationExceptionField" }
        },
        "ValidationExceptionReason": {
            "type": "string",
            "enum": ["cannotParse", "fieldValidationFailed", "other"]
        },
        "VpcConfig": {
            "type": "structure",
            "members": {
                "securityGroupIds": { "shape": "SecurityGroupIds" },
                "subnetIds": { "shape": "SubnetIds" }
            }
        }
    }
}
